<!-- registration_complete.html -->
{% extends "base.html" %}
{% block title %} 分享 {% endblock %}
{% block content %}
<div class='container'>
    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{ message }}</div>
    {% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
            <h3>感謝您的註冊</h3>
            <p>接下來請別忘了到您註冊的電子郵件中去啟用帳號</p>
            </div>
        </div>
    </div>
</div>
<form action='.' method='POST'>
    {% fcsrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <input type='submit'> value='註冊'><br/>
</form>
</div>
{% endblock %}


